.badge {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  color: white;
}

.badge__red {
  background-color: rgb(255, 0, 0);
  width: 7px;
  height: 7px;
  display: flex;
  border-radius: 50%;
}

.screen-header__icons__red {
  position: relative;
  right: -80px;
  top: -24px;
}
.screen-header__icons__red-more {
  position: relative;
  right: -130px;
  top: -24px;
}
