.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(155, 140, 240);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid rgb(5, 1, 255);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: rgb(255, 217, 0);
  position: relative;
}
.nav__notification {
  position: absolute;
  top: -25px;
  left: 10px;
}
.nav__notification__second {
  position: absolute;
  border-radius: 50%;
  left: 30px;
}
